
<app-navbar></app-navbar>
<div class = "drop-down">
    <label for="cars">Choose a sector: </label>
    <select class="drop-down-content" name="sectors" [(ngModel)] = "sectorSelected" (ngModelChange)="onSectorSelected($event)" >
    <option *ngFor="let sector of sectors" [value]="sector">{{sector}}</option>
    </select>
</div>
<div class="content-table" *ngIf="sectorSelected">
    <table width="100%" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Gain</th>
                <th>Sector</th>
                <th>PE Ratio</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of stocks">
                <td>{{s.name}}</td>
                <td>{{s.price}}</td>
                <td>{{s.gain*100}}</td>
                <td>{{s.sector}}</td>
                <td>{{s.pe}}</td>
                <td><button>ADD</button></td>
            </tr>
        </tbody>

    </table>
</div>
  
    
    