<!-- <p>home works!</p> -->

<!-- <header>
    <img class="logo" src="E:/ANGULAR_YT/hello-world/photos" alt="logo">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>contact</button></a>
</header> -->
<table class="content-table">
 <tbody>
    <tr *ngFor="let sc of sectors">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{sc}}
                </mat-panel-title>
                <mat-panel-description>
                    Description : 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <body>
            <!-- <p>This is the panel content. Add course details.</p> -->
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Change</th>
                    <th>Sector</th>
                    <th>PE Ratio</th>
                    <th>Action</th>
                </tr>
                <!-- <tr *ngFor="let s of stocks">   
                    <td *ngFor="let cell of s">{{cell.name}}{{cell.price}}{{cell.change}}{{cell.sector}}{{cell.pe}}</td>
                    <td><button>ADD</button></td> -->
                <mat-action-row>
                <button mat-button>More..</button>
                </mat-action-row>
            
       
  
    
    <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        < <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>More..</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>More..</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p> 
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sector
            </mat-panel-title>
            <mat-panel-description>
                Description : 
            </mat-panel-description>
        </mat-expansion-panel-header>
         <p>This is the panel content. Add course details.</p>
        <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bid</th>
                        <th>Sector</th>
                        <th>PE Ratio</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>Domestic</td>
                        <td>123</td>
                        <td>Medical</td>
                        <td>23</td>
                        <td><button>ADD</button></td>
                    </tr>
                </tbody>
            </table>
        </body>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion> -->