@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A; 
}  

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {

    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
    padding: 30px 5%;
    /* padding-bottom: 10px; */
    background-color: #24252A;
}
.navbar{
    float: right;

}
.logo {
    cursor: pointer;
    margin-left: 0;
    margin-right: auto;
    width : 65px;
    height : 60px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    /* margin: 13px 3px; */
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #009879;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #004685;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:#004685;
}
